.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
  }

.raw {
    background-color: #00BBDD;
    color: white;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.order-1    { order: 1; }
.order-2    { order: 2; }
.order-3    { order: 3; }
.order-4    { order: 4; }
.order-5    { order: 5; }
.order-6    { order: 6; }
.order-7    { order: 7; }
.order-8    { order: 8; }
.order-9    { order: 9; }
.order-10   { order: 10; }
.order-11   { order: 11; }
.order-12   { order: 12; }
.order-13   { order: 13; }
.order-14   { order: 14; }
.order-15   { order: 15; }
.order-16   { order: 16; }